@charset "utf-8";
@import url('notosanskr/NotoSansKR.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    width: 1024px;
    margin: 0 auto;
}

.left {
    position: relative;
    display: block;
    width: calc((100% / 9) * 2);
}

.right {
    position: relative;
    display: block;
    width: calc((100% / 9) * 7);
}

.title {
    position: sticky;
    top: 30px;
    display: block;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;

    text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);
    
}

.swiper-pagination .swiper-pagination-bullet {
    margin: 0 3px;
    background-color: #777;
    opacity: 0.8;
}

.swiper-pagination .swiper-pagination-bullet-active {
    width: 16px;
    background-color: #060606;
    border-radius: 8px;
}

@media all and (max-width:1024px) {
    .container {
        width: 100%;        
    }
    .title {
        position: relative;
        top: auto;
    }    
}
@media all and (max-width: 768px) {
    .left {
        width: calc((100% / 4) * 1);
    }
    .right {
        width: calc((100% / 4) * 3);
    }
    .title {
        font-size: 32px;
    }
}
@media all and (max-width: 480px) {
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        padding-top: 20px;
    }    
}

/* //공통요소 */

.gotop {
    position: fixed;
    right: 30px;
    bottom: 100px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 10px;
    z-index: 99999;
    text-transform: uppercase;
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px ;
    transition: opacity 0.5s;
}

.gotop-hide {
    opacity: 0;
}

@media all and (max-width:768px) {
    .gotop {
        display: none;
    }
}

.wrap {
    position: relative;
    display: block;
    background-color: #e9e9e9;
}


/* 상단 */
.header {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 99;
    
    .container {
        height: 80px;
        .logo {
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 60px;
            height: 60px;
            img {
                width: 100%;
            }
        }
        .nav {
            position: relative;
            display: block;
            padding-top: 40px;
            .gnb {
                position: relative;
                display: block;
                float: right;
                overflow: hidden;
                li {
                    position: relative;
                    display: block;
                    float: left;
                    margin: 0 10px;
                    a {
                        position: relative;
                        display: block;

                        font-size: 14px;
                        line-height: 26px;
                        text-transform: capitalize;

                        transition: all 0.5s;
                        &:hover {
                            color: #000;
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            display: block;
                            width: 0%;
                            height: 1px;
                            background-color: #060606;
                            transition: width 0.3s;
                        }
                        &:hover::after {
                            width: 100%;
                        }
                    }
                }

            }
        }
    }
}
/* //상단 */
.main {
    position: relative;
    display: block;
}

/* 비주얼 */
.visual {
    position: relative;
    display: block;
    padding-top: 80px;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        h1 {
            position: relative;
            display: block;
            width: 100%;

            // text-align: center;
            text-indent: calc((100% / 9) * 2 + 5vw);
            font-family: 'Ubuntu', sans-serif;
            font-size: 61px;
            line-height: 66px;
            color: #060606;
            padding-bottom: 40px;
            font-weight: 200;
            font-style: italic;
            padding-bottom: 40px;            
            text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);
            strong {
                font-weight: 800;
                text-transform: uppercase;
            }
            i {
                font-size: 40px;
                font-weight: 400;
                color: #060606;
            }
        }
        .left {
            .visual-face {
                position: relative;
                display: block;
                width: 100%;
                padding: 10px 0;
                overflow: hidden;
                border-radius: 10px;
                img {
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
                    width: 100%;
                }
            }
        }
        .right {
            position: relative;
            display: flex;
            align-items: flex-end;
            padding: 0 5vw;
            .intro-box {
                position: relative;
                display: block;
                width: calc(100% / 3);

                padding-left: 16px;
                margin-bottom: 10px;
                
                text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);


                h2 {
                    position: relative;
                    display: block;
                    
                    font-size: 20px;
                    color: #060606;
                    font-weight: 700;
                    letter-spacing: 1rem;
                    em {
                        position: relative;
                        display: block;
                        font-size: 13px;
                        line-height: 28px;
                        letter-spacing: 0.005rem;
                        text-transform: uppercase;
                    }
                }                
                .intro-info {
                    position: relative;
                    display: block;

                    padding-top: 16px;
                    line-height: 16px; 
                    ul {
                        position: relative;
                        display: block;
                        li {
                            position: relative;
                            display: block;
                            margin: 3px 0;

                            a {
                                position: relative;
                                display: inline-block;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 100%;
                                    display: block;
                                    width: 0;
                                    height: 1px;
                                    background-color: #060606;

                                    transition: all 0.3s;
                                }
                                &:hover::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                h3 {
                    position: relative;
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    color: #777;
                    line-height: 24px;
                    text-transform: uppercase;
                }

                .intro-skill {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding-top: 12px;

                    .skill-list {
                        position: relative;
                        display: block;
                        width: 100%;
                        
                        li {
                            position: relative;
                            display: block;
                            height: 22px;
                            float: left;
                            margin: 4px 12px 4px 0px;
                            font-size: 0;
                            img {
                                height: 100%;
                                image-rendering: -webkit-optimize-contrast;
                            }
                        }
                    }
                }

                .intro-profile {
                    position: relative;
                    display: block;
                    padding-top: 12px;
                    .profile-list {
                        position: relative;
                        display: block;
                        li {
                            position: relative;
                            display: flex;
                            align-items: flex-end;
                            margin: 15px 0;

                            &:first-child {
                                margin-top: 0;
                            }

                            span {
                                position: relative;
                                display: block;
                                width: calc(100% - 60px);

                                text-align: left;
                                font-size: 13px;
                                white-space: nowrap;
                                
                                &:first-child {
                                    width: 50px;
                                    font-size: 10px;
                                    color: #777;
                                }
                            }
                        }
                    }
                }
            }

            .intro-box-small {
                width: calc(100% / 4);
            }
            .intro-box-big {
                width: calc((100% - (100% / 4)) / 2);
            }
        }
    }
}

@media all and (max-width: 768px) {
    .visual {
        .container {
            align-items: flex-start;
            h1 {
                text-indent: 0;
                text-align: center;
            }
            .right {
                flex-direction: column;
                .intro-box {
                    padding-top: 15px;
                }
                .intro-box-small {
                    width: 100%;
                }
                .intro-box-big {
                    width: 100%;
                    
                }
            }
        }
    }
}
@media all and (max-width: 480px) {
    .visual {
        .container {
            h1 {
                padding: 0 4vw;
            }
            .left {
                .visual-face {
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
    }
}
/* //비주얼 */


/* 포트폴리오 */
.portfolio {
    position: relative;
    display: block;

    .container {
        padding-top: 135px;
        display: flex;
        justify-content: space-between;
        
        .right {
            .sw-portfolio {
                position: relative;
                display: block;
                width: 100%;
                .inner {
                    overflow: hidden;
                }
                .list {
                    width: calc((100% - 4vw) / 2);
                    padding-left: 1vw;
                    padding-right: 1vw;
                    padding-bottom: 4vw;                   
                }
                .portfolio-list-1 {
                    width: 100% !important;
                }                
                .swiper-slide {
                    display:flex;
                    flex-wrap:wrap;
                    justify-content:center;
                    .port-box {
                        position: relative;
                        display: block;
                        width: 100%;
                        background-color: #f0f0f0;
                        padding-bottom: 32px; 
                        
                        transition: box-shadow 0.6s;

                        .port-box-img {
                            position: relative;
                            display: block;
                            max-height: 170px;
                            height: 38vw;

                            overflow: hidden;
                            img {
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                display: inline-block;
                                width : 100%;

                                
                                image-rendering: -webkit-optimize-contrast;
                                transition: all 0.3s;
                                
                                &:last-child {
                                    opacity: 0;
                                 }
                            }              
                        }                        
                        .port-box-title {
                            position: relative;
                            display: block;
                            background-color: transparent;
                            font-size: 14px;
                            line-height: 24px;

                            color: #060606;
                            
                        }
                        .port-box-info {
                            position: absolute;
                            left: 0;
                            bottom: 5px;
                            display: block;
                            line-height: 16px;
                            color: #777;
                            transition: all 0.3s;
                        }
                        .port-box-btn {
                            position: absolute;
                            right: 0;
                            bottom: 5px;
                            display: block;
                            overflow: hidden;
                            visibility: hidden;
                            opacity: 0;
                            transition: all 0.3s;
                            li {
                                position: relative;
                                display: block;
                                float: left;
                                margin: 0 5px;
                                a {
                                    display: inline-block;
                                    font-family: 'Open Sans', sans-serif;
                                    text-transform: capitalize;
                                    line-height: 16px;
                                    transition: color 0.3s;

                                    &:hover {
                                        color: #000;
                                    }
                                    &::after {
                                        content: '';
                                        position: absolute;
                                        left: 0;
                                        bottom: 0;
                                        display: block;
                                        width: 0%;
                                        height: 1px;
                                        background-color: #060606;
                                        transition: width 0.3s;
                                    }
                                    &:hover::after {
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        &:hover {
                            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                            .port-box-img {
                                img {
                                    &:last-child {
                                        opacity: 1;
                                    }
                                }
                            }
                            .port-box-info {
                                opacity: 0;
                            }
                            .port-box-btn {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
    
            }
            .sw-portfolio-pg {
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    } 
}
@media all and (max-width: 480px) {
    .portfolio {
        .container {
            flex-direction: column;
            .right {
                .sw-portfolio-pg {
                    bottom: 0;
                }

            }
        }
    }
}
/* //포트폴리오 */


/* 나의 소개 */
.about {
    position: relative;
    display: block;
    .container {
        padding-top: 135px;
        display: flex;
        justify-content: space-between;
        
        .right {
            .sw-about {
                position: relative;
                display: block;
                padding-bottom: 40px;
                .swiper-slide {
                    text-align: center;
                    .about-face {
                        position: relative;
                        display: block;
                        width: 80%;
                        font-size: 0;
                        padding-bottom: 80%;
                        margin: 0 auto;
                    }
                    .about-info {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: 80px;
                    
                        font-size: 13px;
                        font-family: 'Nanum Gothic Coding', monospace;
                        line-height: 18px;
                        letter-spacing: -0.02rem;
                        color: #333;
                        word-break: keep-all;
                        margin-top: 1vw;
                        padding: 0 0.6vw;
                        
                        text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);

                        strong {
                            width: 100%;
                            
                            color: #060606;
                            font-weight: 800;
                            font-size: 24px;
                            font-weight: 700;
                            letter-spacing: -0.04rem;
                            line-height: 30px;
                            word-break: keep-all;
                            text-align: center;    
                        }

                        span {
                            position: relative;
                            display: block;
                            width: 100%;
                            text-align: justify;
                            
                            i {
                                color: #060606;
                                font-weight: 700;                             
                            }
                        }


                    }
                     
                    .face-1 {
                        background: url('../images/about_005.jpg') no-repeat center;
                        background-size: cover;
                    }
                    .face-2 {
                        background: url('../images/about_007.png') no-repeat center;
                        background-size: cover;
                    }
                    .face-3 {
                        background: url('../images/about_003.jpg') no-repeat center;
                        background-size: cover;
                    }
                    .face-4 {
                        background: url('../images/about_008.png') no-repeat center;
                        background-size: cover;
                    }
                }

                .swiper-slide-active  {
                    .about-face {
                        text-align: right;
                        width: 90%;
                        padding-bottom: 90%;
                    }

                    .about-info {    
                        width: 90%;
                    }
                    
                }
                .swiper-slide-next  {
                    .about-face {
                        margin-top: 4vw;
                        margin-left: -3vw;
                        text-align: left;
                        width: 116%;
                        padding-bottom: 116%;
                        z-index: -1;
                    }

                    .about-info {
                        margin-left: -3vw;
                    }
                }
                .swiper-slide-next+.swiper-slide  {
                    .about-face {
                        margin-top: 2vw;
                    }    
                }

                .sw-about-pg {
                    bottom: 0;
                }
                
            }
        }
    }
}

@media all and (max-width: 768px) {
    .about {
        .container {
            padding-bottom: 0px;
            .right {
                .sw-about {
                    .about-info {
                        height: 30px;
                    }
                    .sw-about-pg {
                        bottom: 26vw;
                    }
                }
            }
        }
    }
}
@media all and (max-width: 480px) {
    .about {
        .container {
            flex-direction: column;
        }
    }
}
/* //나의 소개 */


/* 삶 */
.life {
    position: relative;
    display: block;
    .container {
        padding: 135px 0;  
        display: flex;
        justify-content: space-between;    
        
        .right {
            .sw-life {
                width: 100%;
                height: calc(45vw + 180px);
                .swiper-slide {
                    max-height: 650px;
                    height: 45vw;                
                    transition: all 0.3s;
                    
                    .life-box {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 100%;
    
                        box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px ;
                        transition: all 0.3s;                        
                    }
                    .life-txt {
                        position: relative;
                        display: block;
                        width: 100%;

                        margin-top: 10px;
                        font-size: 12px;                        
                        line-height: 20px;
                        color: #777;

                        
                text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                        i {
                            font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
                            text-transform: capitalize;
                        }
                    }
                    
                    .sw-life-txt-active {
                        font-size: 14px;
                        font-weight: 500;
                        color: #060606;
                    }
                    &:hover {
                        .life-box {
                            aspect-ratio: 1 / 1; 
                        }
                    } 
                }

                .sw-life-small-6 {
                    width: calc((100% - 40.245% - (10px * 5)) / 5) !important;
                }
                
                .sw-life-big-6 {
                    width: 40.245% !important;
                }
                
                .sw-life-small-3 {
                    width: calc((100% - 75% - (10px * 2)) / 2) !important;
                }
                
                .sw-life-big-3 {
                    width: 75% !important;
                }

                .swiper-slide-next {
                    .life-box {
                        margin-top: 50px;
                    }
                }
                .swiper-slide-next+.swiper-slide  {
                    .life-box {
                        margin-top: 100px;
                    }
                }
                .swiper-slide-next+.swiper-slide+.swiper-slide  {
                    .life-box {
                        margin-top: 100px;
                    }
                }
                .swiper-slide-next+.swiper-slide+.swiper-slide+.swiper-slide {
                    .life-box {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}


.life-1 {
    background: url('../images/life_travel_004.jpg') no-repeat center;
    background-size: cover;
}

.life-2 {
    background: url('../images/life_travel_002.jpg') no-repeat center;
    background-size: cover;
}

.life-3 {
    background: url('../images/life_travel_003.jpg') no-repeat center;
    background-size: cover;
}

.life-4 {
    background: url('../images/life_travel_005.jpg') no-repeat center;
    background-size: cover;
}

.life-5 {
    background: url('../images/life_travel_006.jpg') no-repeat center;
    background-size: cover;
}

.life-6 {
    background: url('../images/life_read_004.jpg') no-repeat center;
    background-size: cover;
}

.life-7 {
    background: url('../images/life_travel_001.jpg') no-repeat center;
    background-size: cover;
}

.life-8 {
    background: url('../images/life_show_002.jpg') no-repeat center;
    background-size: cover;
}

.life-9 {
    background: url('../images/life_show_003.png') no-repeat center;
    background-size: cover;
}
.life-10 {
    background: url('../images/life_show_004.png') no-repeat center;
    background-size: cover;
}
.life-11 {
    background: url('../images/life_show_005.png') no-repeat center;
    background-size: cover;
}
.life-12 {
    background: url('../images/life_show_006.jpg') no-repeat center;
    background-size: cover;
}

@media all and (max-width: 480px) {
    .life {
        .container {
            flex-direction: column;
            .right {
                .sw-life {
                    height: calc(100vw + 150px);
                    .swiper-slide {
                        height: 100vw;
                    }
                    .sw-life-pg {
                        bottom: 0;
                    }
                }
            }
        }
    }
}


/* //삶 */

/* 하단 */
.footer {
    position: relative;
    display: block;
    background-color: #a5a5a5;
    .container {
        padding: 40px 0;
        display: flex;
        .right {
            .copy {
                position: relative;
                display: block;
            
                font-size: 14px;
                text-align: center;
                color: #fff;
            }
        }
    }
}
@media all and (max-width: 768px) {
    .footer {
        .container {
            .right {
                .copy {
                    text-align: left;
                }
            }
        }
    }
}

@media all and (max-width: 480px) {
    .footer {
        .container {
            flex-direction: column;
            .right {
                .copy {
                    text-align: center;
                }
            }
        }
    }
}

/* //하단 */