@charset "utf-8";
@import url('notosanskr/NotoSansKR.css');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

img {
    border: 0;
    vertical-align: middle;
}

li {
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 공통요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    width: 1024px;
    margin: 0 auto;
}

.left {
    position: relative;
    display: block;
    width: calc((100% / 9) * 2);
}

.right {
    position: relative;
    display: block;
    width: calc((100% / 9) * 7);
}

.title {
    position: relative;
    display: block;
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

/* //공통요소 */

.quickmenu {
    position: relative;
    display: none;
}

.m-btn-list {
    display: none;
}

.m-menu-wrap {
    display: none;
}

.wrap {
    position: relative;
    display: block;
    background-color: #e9e9e9;
}


/* 상단 */
.header {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    z-index: 99;
    
    .container {
        height: 80px;
        .logo {
            position: absolute;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            width: 60px;
            height: 60px;
            img {
                width: 100%;
            }
        }
        .nav {
            position: relative;
            display: block;
            padding-top: 40px;
            .gnb {
                position: relative;
                display: block;
                float: right;
                overflow: hidden;
                li {
                    position: relative;
                    display: block;
                    float: left;
                    margin: 0 10px;
                    a {
                        position: relative;
                        display: block;
                        font-size: 14px;
                        line-height: 26px;
                        text-transform: capitalize;
                    }
                }

            }
        }
    }
}
/* //상단 */
.main {
    position: relative;
    display: block;
}

.visual {
    position: relative;
    display: block;
    padding-top: 80px;
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        h1 {
            position: relative;
            display: block;
            width: 100%;

            text-align: center;
            font-size: 30px;
            line-height: 60px;
            color: #060606;
            text-transform: uppercase;
            strong {
                font-weight: 800;
            }
        }
        .left {
            .visual-face {
                position: relative;
                display: block;
                width: 100%;
                padding: 10px 0;
                img {
                    width: 100%;
                }
            }
        }
        .right {
            position: relative;
            display: flex;
            align-items: flex-end;
            .about-box {
                position: relative;
                display: block;
                width: calc(100% / 3);

                padding-left: 16px;
                margin-bottom: 10px;

                h2 {
                    position: relative;
                    display: block;
                    
                    font-size: 20px;
                    color: #060606;
                    font-weight: 700;
                    letter-spacing: 1rem;
                    em {
                        position: relative;
                        display: block;
                        font-size: 13px;
                        line-height: 28px;
                        letter-spacing: 0.005rem;
                        text-transform: uppercase;
                    }
                }                
                .about-info {
                    position: relative;
                    display: block;

                    padding-top: 16px;
                    // font-size: 14px;
                    line-height: 16px; 
                    ul {
                        position: relative;
                        display: block;
                        li {
                            position: relative;
                            display: block;
                            margin: 3px 0;

                            a {
                                position: relative;
                                display: inline-block;
                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    top: 100%;
                                    display: block;
                                    width: 0;
                                    height: 1px;
                                    background-color: #060606;

                                    transition: all 0.3s;
                                }
                                &:hover::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                h3 {
                    position: relative;
                    display: block;
                    font-size: 14px;
                    font-weight: 700;
                    color: #777;
                    line-height: 24px;
                    text-transform: uppercase;
                }

                .about-skill {
                    position: relative;
                    display: block;
                    width: 100%;
                    padding-top: 12px;

                    .skill-list {
                        position: relative;
                        display: block;
                        width: 100%;
                        
                        li {
                            position: relative;
                            display: block;
                            height: 22px;
                            float: left;
                            margin: 2px 4px;
                            font-size: 0;

                            img {
                                height: 100%;
                                image-rendering: -webkit-optimize-contrast;
                            }
                        }
                    }
                }

                .about-profile {
                    position: relative;
                    display: block;
                    padding-top: 12px;
                    .profile-list {
                        position: relative;
                        display: block;
                        li {
                            position: relative;
                            display: flex;
                            align-items: flex-end;
                            margin: 15px 0;

                            &:first-child {
                                margin-top: 0;
                            }

                            span {
                                position: relative;
                                display: block;
                                width: calc(100% - 50px);

                                text-align: left;
                                font-size: 13px;
                                word-break: keep-all;
                                
                                &:first-child {
                                    width: 50px;
                                    font-size: 10px;
                                    color: #777;
                                }
                            }
                        }
                    }
                }
            }

            .about-box-small {
                width: calc(100% / 4);
            }
            .about-box-big {
                width: calc((100% - (100% / 4)) / 2);
            }
        }
    }
}

.portraits {
    position: relative;
    display: block;

    .container {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        .left {
    
        }
        .right {
            .sw-portraits {
                position: relative;
                display: block;
                width: 100%;
                .inner {
                    overflow: hidden;
                }
                .list {
                    width: calc((100% - 1vw) / 2);
                    padding-right: 1vw;
                    padding-bottom: 2vw;
                    &:nth-child(2x) {
                        padding-right: 0;
                    }                    
                }
                .portraits-list-1 {
                    width: 100% !important;
                }                
                .swiper-slide {
                    display:flex;
                    flex-wrap:wrap;
                    justify-content: center;
                    .port-box {
                        position: relative;
                        display: block;
                        width: 100%;
                        background-color: #f0f0f0;
                        padding-bottom: 14px;             
                        .port-box-img {
                            position: relative;
                            display: block;
                            height: 240px;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }              
                        }
                        .port-box-title {
                            position: relative;
                            display: block;
                            background-color: transparent;
                            font-size: 14px;
                            line-height: 24px;

                            color: #060606;
                        }
                        .port-box-info {
                            position: relative;
                            display: block;
                            color: #777;
                        }
                    }
                }
    
            }
        }
    } 
}

.about {
    position: relative;
    display: block;
    .container {
        padding-top: 60px;
        display: flex;
        justify-content: space-between;
        .left {
        }
        .right {
            .sw-about {
                position: relative;
                display: block;
                .swiper-slide {
                    text-align: center;
                    .about-face {
                        position: relative;
                        display: block;
                        width: 80%;
                        font-size: 0;
                        padding-bottom: 80%;
                        margin: 0 auto;
                    }
                    .about-info {
                        position: relative;
                        display: inline-block;
                        width: 100%;
                        height: 200px;
                    
                        font-size: 13px;
                        line-height: 18px;
                        letter-spacing: -0.02rem;
                        color: #333;
                        word-break: keep-all;
                        margin-top: 1vw;
                        padding: 0 0.6vw;
                    }
                    
                    .about-info strong {
                        width: 100%;
                        
                        color: #060606;
                        font-weight: 800;
                        font-size: 22px;
                        letter-spacing: -0.04rem;
                        line-height: 38px;
                        word-break: keep-all;
                        text-align: center;    
                    }

                    .about-info span {
                        position: relative;
                        display: block;
                        width: 100%;
                        text-align: justify;
                    }
                    .face-1 {
                        background: url('../images/about_005.jpg') no-repeat center;
                        background-size: cover;
                    }
                    .face-2 {
                        background: url('../images/about_002.jpg') no-repeat center;
                        background-size: cover;
                    }
                    .face-3 {
                        background: url('../images/about_003.jpg') no-repeat center;
                        background-size: cover;
                    }
                    .face-4 {
                        background: url('../images/about_008.png') no-repeat center;
                        background-size: cover;
                    }
                }

                .swiper-slide-active  {
                    .about-face {
                        text-align: right;
                        width: 90%;
                        padding-bottom: 90%;
                    }

                    .about-info {    
                        width: 90%;
                    }
                    
                }
                .swiper-slide-next  {
                    .about-face {
                        margin-top: 4vw;
                        margin-left: -3vw;
                        text-align: left;
                        width: 116%;
                        padding-bottom: 116%;
                        z-index: -1;
                    }

                    .about-info {
                        margin-left: -3vw;
                    }
                }
                .swiper-slide-next+.swiper-slide  {
                    .about-face {
                        margin-top: 2vw;
                    }    
                }
                
            }
        }
    }
}

.life {
    position: relative;
    display: block;
    margin: 60px 0 40px;
    .container {
        padding: 40px 0;
        .sw-life {
            width: 100%;
            height: 50vw;
            height: calc(45vw + 180px);
            .swiper-slide {
                height: 45vw;                
                transition: all 0.3s;
                
                .life-box {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: 100%;

                    transition: all 0.3s;
                    
                    .life-txt {
                        position: relative;
                        display: block;
                        width: 100%;

                        margin-top: 10px;
                        font-size: 14px;
                        color: #A3C0CC;

                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                &:hover {
                    .life-box {
                        aspect-ratio: 1 / 1; 
                    }
                }

                .swiper-slide-next {
                    .life-box {
                        margin-top: 50px;
                    }
                }
            }
        }
    }
}
.sw-life-small-6 {
    width: calc((100% - 50% - (10px * 5)) / 5) !important;
}

.sw-life-big-6 {
    width: 50% !important;
}

.sw-life-small-3 {
    width: calc((100% - 75% - (10px * 2)) / 2) !important;
}

.sw-life-big-3 {
    width: 75% !important;
}

.sw-life-txt-active {
    font-size: 24px;
    color: #4D7080;
}

/* 하단 */
.footer {
    position: relative;
    display: block;

}

/* //하단 */