@charset "UTF-8";
@import url("notosanskr/NotoSansKR.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline-style: none; */
}

a {
  color: #333;
  text-decoration: none;
}

img {
  border: 0;
  vertical-align: middle;
}

li {
  list-style: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.2rem;
  font-family: 'Noto Sans KR', sans-serif;
}

/* 공통요소 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.container {
  position: relative;
  display: block;
  width: 1024px;
  margin: 0 auto;
}

.left {
  position: relative;
  display: block;
  width: calc((100% / 9) * 2);
}

.right {
  position: relative;
  display: block;
  width: calc((100% / 9) * 7);
}

.title {
  position: relative;
  display: block;
  color: #00ADB5;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);
}

.swiper-pagination .swiper-pagination-bullet {
  margin: 0 3px;
  background-color: #393E46;
  opacity: 0.8;
}

.swiper-pagination .swiper-pagination-bullet-active {
  width: 16px;
  background-color: #00ADB5;
  border-radius: 8px;
}

@media all and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .title {
    position: relative;
    top: auto;
  }
}

@media all and (max-width: 768px) {
  .left {
    width: calc((100% / 4) * 1);
  }
  .right {
    width: calc((100% / 4) * 3);
  }
  .title {
    font-size: 32px;
  }
}

@media all and (max-width: 480px) {
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    padding-top: 20px;
  }
}

/* //공통요소 */
.gotop {
  position: fixed;
  right: 30px;
  bottom: 100px;
  display: block;
  width: 30px;
  height: 30px;
  font-size: 10px;
  z-index: 99999;
  text-transform: uppercase;
  color: #393E46;
  border: 1px solid #393E46;
  border-radius: 4px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.gotop:hover {
  color: #fff;
  background-color: #00ADB5;
  border-color: #00ADB5;
}

.gotop-hide {
  opacity: 0;
}

@media all and (max-width: 768px) {
  .gotop {
    display: none;
  }
}

.wrap {
  position: relative;
  display: block;
  background-color: #eeeeee;
}

/* 상단 */
.header {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  z-index: 99;
}

.header .container {
  height: 80px;
}

.header .container .logo {
  position: absolute;
  left: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 60px;
  height: 60px;
}

.header .container .logo img {
  width: 100%;
}

.header .container .nav {
  position: relative;
  display: block;
  padding-top: 40px;
}

.header .container .nav .gnb {
  position: relative;
  display: block;
  float: right;
  overflow: hidden;
}

.header .container .nav .gnb li {
  position: relative;
  display: block;
  float: left;
  margin: 0 10px;
}

.header .container .nav .gnb li a {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .container .nav .gnb li a:hover {
  color: #00ADB5;
}

.header .container .nav .gnb li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 0%;
  height: 1px;
  background-color: #00ADB5;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.header .container .nav .gnb li a:hover::after {
  width: 100%;
}

/* //상단 */
.main {
  position: relative;
  display: block;
}

/* 비주얼 */
.visual {
  position: relative;
  display: block;
  padding-top: 80px;
}

.visual .container .frontend {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0;
}

.visual .container .frontend .frontend-txt {
  position: relative;
  display: block;
  width: calc(100% / 12 * 7);
}

.visual .container .frontend .frontend-txt .frontend-deco-1 {
  position: absolute;
  left: -10%;
  bottom: 0;
  display: block;
  width: 98px;
  height: 64px;
  background: url("../images/visual_img02.png") no-repeat center;
  background-size: contain;
}

.visual .container .frontend .frontend-txt .frontend-deco-2 {
  position: absolute;
  left: 32%;
  top: 10px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  display: block;
  width: 54px;
  height: 46px;
  background: url("../images/visual_img01.png") no-repeat center;
  background-size: contain;
}

.visual .container .frontend .frontend-txt .frontend-deco-3 {
  position: absolute;
  right: 25%;
  bottom: 10px;
  display: block;
  width: 98px;
  height: 64px;
  background: url("../images/visual_img02.png") no-repeat center;
  background-size: contain;
}

.visual .container .frontend .frontend-txt h1 {
  position: relative;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 61px;
  line-height: 66px;
  color: #222831;
  padding-bottom: 40px;
  font-weight: 200;
  font-style: italic;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);
}

.visual .container .frontend .frontend-txt h1 strong {
  font-weight: 800;
  text-transform: uppercase;
}

.visual .container .frontend .frontend-txt h1 i {
  font-size: 40px;
  font-weight: 400;
  color: #222831;
}

.visual .container .frontend .frontend-face {
  position: relative;
  display: block;
  width: calc(100% / 3);
  padding: 40px 0;
}

.visual .container .frontend .frontend-face .frontend-deco-4 {
  position: absolute;
  left: -10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/visual_img04.png") no-repeat center;
  background-size: contain;
}

.visual .container .frontend .frontend-face .frontend-deco-5 {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 190px;
  height: 136px;
  background: url("../images/visual_img03.png") no-repeat center;
  background-size: contain;
  z-index: 9;
}

.visual .container .frontend .frontend-face .frontend-deco-5 span {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 20%;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
  color: #fff;
}

.visual .container .frontend .frontend-face .frontend-deco-6 {
  position: absolute;
  left: 115%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 90px;
  height: 56px;
  background: url("../images/visual_img01.png") no-repeat center;
  background-size: contain;
}

.visual .container .frontend .frontend-face img {
  position: relative;
  display: block;
  width: 100%;
}

.visual .container .visual-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.visual .container .left .visual-face {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 0;
  overflow: hidden;
  border-radius: 10px;
}

.visual .container .left .visual-face img {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
  width: 100%;
}

.visual .container .right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 5vw;
}

.visual .container .right .intro-box {
  position: relative;
  display: block;
  width: calc(100% / 3);
  padding-left: 16px;
  margin-bottom: 10px;
  text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);
}

.visual .container .right .intro-box h2 {
  position: relative;
  display: block;
  font-size: 20px;
  color: #222831;
  font-weight: 700;
  letter-spacing: 1rem;
}

.visual .container .right .intro-box h2 em {
  position: relative;
  display: block;
  font-size: 13px;
  line-height: 28px;
  letter-spacing: 0.005rem;
  text-transform: uppercase;
}

.visual .container .right .intro-box .intro-info {
  position: relative;
  display: block;
  padding-top: 16px;
  line-height: 16px;
}

.visual .container .right .intro-box .intro-info ul {
  position: relative;
  display: block;
}

.visual .container .right .intro-box .intro-info ul li {
  position: relative;
  display: block;
  margin: 3px 0;
}

.visual .container .right .intro-box .intro-info ul li a {
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #060606;
}

.visual .container .right .intro-box .intro-info ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 0;
  height: 1px;
  background-color: #00ADB5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.visual .container .right .intro-box .intro-info ul li a:hover {
  color: #00ADB5;
}

.visual .container .right .intro-box .intro-info ul li a:hover::after {
  width: 100%;
}

.visual .container .right .intro-box h3 {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #393E46;
  line-height: 24px;
  text-transform: uppercase;
}

.visual .container .right .intro-box .intro-skill {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 12px;
}

.visual .container .right .intro-box .intro-skill .skill-list {
  position: relative;
  display: block;
  width: 100%;
}

.visual .container .right .intro-box .intro-skill .skill-list li {
  position: relative;
  display: block;
  height: 22px;
  float: left;
  margin: 4px 12px 4px 0px;
  font-size: 0;
}

.visual .container .right .intro-box .intro-skill .skill-list li img {
  height: 100%;
  image-rendering: -webkit-optimize-contrast;
}

.visual .container .right .intro-box .intro-profile {
  position: relative;
  display: block;
  padding-top: 12px;
}

.visual .container .right .intro-box .intro-profile .profile-list {
  position: relative;
  display: block;
}

.visual .container .right .intro-box .intro-profile .profile-list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 15px 0;
}

.visual .container .right .intro-box .intro-profile .profile-list li:first-child {
  margin-top: 0;
}

.visual .container .right .intro-box .intro-profile .profile-list li span {
  position: relative;
  display: block;
  width: calc(100% - 60px);
  text-align: left;
  font-size: 13px;
  white-space: nowrap;
}

.visual .container .right .intro-box .intro-profile .profile-list li span:first-child {
  width: 50px;
  font-size: 10px;
  color: #393E46;
}

.visual .container .right .intro-box-small {
  width: calc(100% / 4);
}

.visual .container .right .intro-box-big {
  width: calc((100% - (100% / 4)) / 2);
}

@media all and (max-width: 768px) {
  .visual .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .visual .container h1 {
    text-indent: 0;
    text-align: center;
  }
  .visual .container .right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .visual .container .right .intro-box {
    padding-top: 15px;
  }
  .visual .container .right .intro-box-small {
    width: 100%;
  }
  .visual .container .right .intro-box-big {
    width: 100%;
  }
}

@media all and (max-width: 480px) {
  .visual .container h1 {
    padding: 0 4vw;
  }
  .visual .container .left .visual-face {
    width: 80%;
    margin: 0 auto;
  }
}

/* //비주얼 */
/* 포트폴리오 */
.portfolio {
  position: relative;
  display: block;
}

.portfolio .container {
  padding-top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio .container .right .sw-portfolio {
  position: relative;
  display: block;
  width: 100%;
}

.portfolio .container .right .sw-portfolio .inner {
  overflow: hidden;
}

.portfolio .container .right .sw-portfolio .list {
  width: calc((100% - 4vw) / 2);
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 4vw;
}

.portfolio .container .right .sw-portfolio .portfolio-list-1 {
  width: 100% !important;
}

.portfolio .container .right .sw-portfolio .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box {
  position: relative;
  display: block;
  width: 100%;
  background-color: #f0f0f0;
  padding-bottom: 32px;
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-img {
  position: relative;
  display: block;
  max-height: 170px;
  height: 38vw;
  overflow: hidden;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-img img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-img img:last-child {
  opacity: 0;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-title {
  position: relative;
  display: block;
  background-color: transparent;
  font-size: 14px;
  line-height: 24px;
  color: #222831;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-info {
  position: absolute;
  left: 0;
  bottom: 5px;
  display: block;
  line-height: 16px;
  color: #393E46;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-btn {
  position: absolute;
  right: 0;
  bottom: 5px;
  display: block;
  padding: 2px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-btn li {
  position: relative;
  display: block;
  float: left;
  margin: 0 5px;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-btn li a {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  line-height: 16px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #393E46;
  border: 1px solid #393E46;
  border-radius: 4px;
  padding: 2px 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box .port-box-btn li a:hover {
  color: #fff;
  background-color: #00ADB5;
  border-color: #00ADB5;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box:hover {
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box:hover .port-box-img img:last-child {
  opacity: 1;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box:hover .port-box-info {
  opacity: 0;
}

.portfolio .container .right .sw-portfolio .swiper-slide .port-box:hover .port-box-btn {
  opacity: 1;
  visibility: visible;
}

.portfolio .container .right .sw-portfolio-prev::after {
  color: #222831;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .container .right .sw-portfolio-prev:hover::after {
  color: #00ADB5;
}

.portfolio .container .right .sw-portfolio-next::after {
  color: #222831;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .container .right .sw-portfolio-next:hover::after {
  color: #00ADB5;
}

.portfolio .container .right .sw-portfolio-pg {
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media all and (max-width: 480px) {
  .portfolio .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio .container .right .sw-portfolio-pg {
    bottom: 0;
  }
}

/* //포트폴리오 */
/* 나의 소개 */
.about {
  position: relative;
  display: block;
}

.about .container {
  padding-top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .container .right .sw-about {
  position: relative;
  display: block;
  padding-bottom: 40px;
}

.about .container .right .sw-about .swiper-slide {
  text-align: center;
}

.about .container .right .sw-about .swiper-slide .about-face {
  position: relative;
  display: block;
  width: 94%;
  font-size: 0;
  padding-bottom: 80%;
  margin: 0 auto;
}

.about .container .right .sw-about .swiper-slide .about-info {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 80px;
  font-size: 13px;
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 18px;
  letter-spacing: -0.02rem;
  color: #393E46;
  word-break: keep-all;
  margin-top: 1vw;
  padding: 0 0.6vw;
  text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);
}

.about .container .right .sw-about .swiper-slide .about-info strong {
  width: 100%;
  color: #222831;
  font-weight: 800;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.04rem;
  line-height: 30px;
  word-break: keep-all;
  text-align: center;
}

.about .container .right .sw-about .swiper-slide .about-info span {
  position: relative;
  display: block;
  width: 100%;
  text-align: justify;
}

.about .container .right .sw-about .swiper-slide .about-info span i {
  color: #222831;
  font-weight: 700;
}

.about .container .right .sw-about .swiper-slide .face-1 {
  background: url("../images/about_005.jpg") no-repeat center;
  background-size: cover;
}

.about .container .right .sw-about .swiper-slide .face-2 {
  background: url("../images/about_007.png") no-repeat center;
  background-size: cover;
}

.about .container .right .sw-about .swiper-slide .face-3 {
  background: url("../images/about_003.jpg") no-repeat center;
  background-size: cover;
}

.about .container .right .sw-about .swiper-slide .face-4 {
  background: url("../images/about_008.png") no-repeat center;
  background-size: cover;
}

.about .container .right .sw-about .swiper-slide-active .about-face {
  text-align: right;
  width: 90%;
  padding-bottom: 90%;
}

.about .container .right .sw-about .swiper-slide-active .about-info {
  width: 90%;
}

.about .container .right .sw-about .swiper-slide-next .about-face {
  margin-top: 6vw;
  margin-left: -2vw;
  text-align: left;
  width: 116%;
  padding-bottom: 116%;
  z-index: -1;
}

.about .container .right .sw-about .swiper-slide-next .about-info {
  margin-left: -2vw;
}

.about .container .right .sw-about .swiper-slide-next + .swiper-slide .about-face {
  margin-top: 2vw;
}

.about .container .right .sw-about .sw-about-pg {
  bottom: 0;
}

@media all and (max-width: 768px) {
  .about .container {
    padding-bottom: 0px;
  }
  .about .container .right .sw-about .about-info {
    height: 30px;
  }
  .about .container .right .sw-about .sw-about-pg {
    bottom: 26vw;
  }
}

@media all and (max-width: 480px) {
  .about .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* //나의 소개 */
/* 삶 */
.life {
  position: relative;
  display: block;
}

.life .container {
  padding: 135px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.life .container .right .sw-life {
  width: 100%;
  height: calc(45vw + 180px);
}

.life .container .right .sw-life .swiper-slide {
  max-height: 650px;
  height: 45vw;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.life .container .right .sw-life .swiper-slide .life-box {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 2px 12px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.life .container .right .sw-life .swiper-slide .life-txt {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  color: #777;
  text-shadow: 0px 2px 12px rgba(149, 157, 165, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.life .container .right .sw-life .swiper-slide .life-txt i {
  font-family: 'Open Sans', 'Noto Sans KR', sans-serif;
  text-transform: capitalize;
}

.life .container .right .sw-life .swiper-slide .sw-life-txt-active {
  font-size: 14px;
  font-weight: 500;
  color: #060606;
}

.life .container .right .sw-life .swiper-slide:hover .life-box {
  aspect-ratio: 1 / 1;
}

.life .container .right .sw-life .sw-life-small-6 {
  width: calc((100% - 40.245% - (10px * 5)) / 5) !important;
}

.life .container .right .sw-life .sw-life-big-6 {
  width: 40.245% !important;
}

.life .container .right .sw-life .sw-life-small-3 {
  width: calc((100% - 75% - (10px * 2)) / 2) !important;
}

.life .container .right .sw-life .sw-life-big-3 {
  width: 75% !important;
}

.life .container .right .sw-life .swiper-slide-next .life-box {
  margin-top: 50px;
}

.life .container .right .sw-life .swiper-slide-next + .swiper-slide .life-box {
  margin-top: 100px;
}

.life .container .right .sw-life .swiper-slide-next + .swiper-slide + .swiper-slide .life-box {
  margin-top: 100px;
}

.life .container .right .sw-life .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide .life-box {
  margin-top: 50px;
}

.life-1 {
  background: url("../images/life_travel_004.jpg") no-repeat center;
  background-size: cover;
}

.life-2 {
  background: url("../images/life_travel_002.jpg") no-repeat center;
  background-size: cover;
}

.life-3 {
  background: url("../images/life_travel_003.jpg") no-repeat center;
  background-size: cover;
}

.life-4 {
  background: url("../images/life_travel_005.jpg") no-repeat center;
  background-size: cover;
}

.life-5 {
  background: url("../images/life_travel_006.jpg") no-repeat center;
  background-size: cover;
}

.life-6 {
  background: url("../images/life_read_004.jpg") no-repeat center;
  background-size: cover;
}

.life-7 {
  background: url("../images/life_travel_001.jpg") no-repeat center;
  background-size: cover;
}

.life-8 {
  background: url("../images/life_show_002.jpg") no-repeat center;
  background-size: cover;
}

.life-9 {
  background: url("../images/life_show_003.png") no-repeat center;
  background-size: cover;
}

.life-10 {
  background: url("../images/life_show_004.png") no-repeat center;
  background-size: cover;
}

.life-11 {
  background: url("../images/life_show_005.png") no-repeat center;
  background-size: cover;
}

.life-12 {
  background: url("../images/life_show_006.jpg") no-repeat center;
  background-size: cover;
}

@media all and (max-width: 480px) {
  .life .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .life .container .right .sw-life {
    height: calc(100vw + 150px);
  }
  .life .container .right .sw-life .swiper-slide {
    height: 100vw;
  }
  .life .container .right .sw-life .sw-life-pg {
    bottom: 0;
  }
}

/* //삶 */
/* 하단 */
.footer {
  position: relative;
  display: block;
  background-color: #00ADB5;
}

.footer .container {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .container .right .copy {
  position: relative;
  display: block;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

@media all and (max-width: 768px) {
  .footer .container .right .copy {
    text-align: left;
  }
}

@media all and (max-width: 480px) {
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container .right .copy {
    text-align: center;
  }
}

/* //하단 */
/*# sourceMappingURL=style.css.map */